body {
    background-color: aliceblue;
}

h1 {
    height: 2cm;
    width: 3in;
    max-width: 50vw;
    max-height: 50vh;
    border-style: outset;
    border-color: aqua;
    border-width: auto;
    border-radius: auto;
    text-decoration: solid;
    text-align: center;
}

h2 {
    margin-left: 1em;
}

h3 {
    padding-left: 50px;
}

p {
    color: darkblue;
}

p.invis {
    display: none;
}

p.indep {
    display: block;
}s