body {
    background-color: aliceblue;
}

h1 {
    border-style: outset;
    border-color: aqua;
    border-width: auto;
    border-radius: auto;
}

h2 {
    margin-left: 1em;
}

h3 {
    padding-left: 50px;
}