body {
    background-color: aliceblue;
}

h1 {
    /* Box dimensions */
    height: 1.5cm;
    width: 100vw;
    max-height: 20vh;
    max-width: 48in;
    /* Box and border colors */
    background-color: aliceblue;
    border-style: outset;
    border-color: aqua;
    border-width: auto;
    border-radius: auto;
    /* Text styling */
    text-decoration: solid;
    text-align: center;
    position: fixed;
}

h2 {
    border: 0px solid red;
    margin-left: 1em;
    position: static;
}

h3 {
    margin: 0px 0px 0px 0px;
    padding-left: 50px;
}

p {
    color: darkblue;
}

p.invis {
    display: none;
}

p.indep {
    display: block;
}

a:hover {
    color: hotpink;
}

a:active {
    color: red;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: darkblue;
    width: 50px;
    margin: 20px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
