body {
    background-color: aliceblue;
}

h1 {
    /* Box dimensions */
    height: 1.5cm;
    width: 100vw;
    max-height: 20vh;
    max-width: 48in;
    /* Box and border colors */
    background-color: aliceblue;
    border-style: outset;
    border-color: aqua;
    border-width: auto;
    border-radius: auto;
    /* Text styling */
    text-decoration: solid;
    text-align: center;
    position: fixed;
}

h2 {
    margin-left: 1em;
    position: static;
}

h3 {
    padding-left: 50px;
}

p {
    color: darkblue;
}

p.invis {
    display: none;
}

p.indep {
    display: block;
}

